fastapi
uvicorn[standard]
python-multipart
streamlit
pandas
plotly
ollama
PyMuPDF
langchain
langchain-text-splitters
chromadb
sentence-transformers>=2.7
pypdf
numpy
torch
python-docx
pytesseract
Pillow
passlib[bcrypt]
python-jose[cryptography]
sqlalchemy