fastapi
uvicorn[standard]
python-multipart
ollama
PyMuPDF
langchain-text-splitters
chromadb
sentence-transformers>=2.7
numpy
torch
python-docx
pytesseract
Pillow
passlib[bcrypt]
python-jose[cryptography]
sqlalchemy